<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS Boot-->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <!--Fim CSS Boot-->
    <!--Css-->
    <link rel="stylesheet" href="../static/style.css">
    <!--Fim Css-->
    <link rel="icon" type="image/png" href="../static/img/asset-15.png">
    <!--icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!--Fim Do icons-->
    <title>Italo Tattoo</title>
</head>

<body>
    <!--  ------------------------------------------------------ Inicio do menu mobile ------------------------------------------------------- -->
    <i class="bi bi-list menu-mobile"></i>
    <!--  ------------------------------------------------------   Fim do menu mobile  ------------------------------------------------------- -->
    
    <!--  ------------------------------------------------------ Inicio do menu lateral ------------------------------------------------------ -->
    <aside id='header'>
        <section class="profile">
            <img src="../static/img/perfil.png" alt="Foto do Italo">
            <h1>Italo</h1>
            <!--/*Rede social*/-->
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://br.linkedin.com/">
                    <!--target="_blank" serve para abrir uma pagina em branco-->
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://www.instagram.com/it.tattoo/">
                    <i class="bi bi-instagram"></i>
                </a>
                <a target="_blank" href="https://twitter.com/">
                    <i class="bi bi-twitter"></i>
                </a>
            </div>
            <!--/*Fim Rede social*/-->
        </section>
        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#inicio"><i class="bi bi-house"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre"><i class="bi bi-person"></i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidade"><i class="bi bi-list-check"></i> Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark"></i> Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portifolio"><i class="bi bi-collection"></i> Portfólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contatos"><i class="bi bi-envelope"></i> Contatos</a>
                </li>
            </ul>
        </nav>
    </aside>
    <!--  ------------------------------------------------------ Fim do menu lateral --------------------------------------------------------- -->
    
    <!--  ------------------------------------------------------ Inicio do Main -------------------------------------------------------------- -->
    <main id="main">
        <!-------------------------------------------------------------- Incio --------------------------------------------------------------- -->
        <section id="inicio" class="row m-0 p-0"> <!-- A class row do Boot tem 12 colunas -->
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Italo</h2>
                <span id="subtitle" class="text-white text-shadow">Tatuador, Musico, Artista</span>
            </div>
            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flwx align-items-end">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arrate para mais</a>
                </div>
            </div>
        </section>  
        <!-- -------------------------------------------------------- Fim do Incio ----------------------------------------------------------- -->

        <!-- ----------------------------------------------------------- Sobre --------------------------------------------------------------- -->
        <section id="sobre" class="container mt-5">
            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class="pt-3">Sobre</h2>
                    <p>
                        Olá sou um Tatuador com mais de 4 anos em expereiencia nesta incrivel arte. 
                        Estou sempre em busca de melhorar o meu conhecimento e meus desenhos. 
                        Siga-me no instagram e acompanha os meus desenhos e as novidades que posto diariamente.
                    </p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow"  src="../static/img/perfil.png" alt="Foto do Patrick" data-anime="left">
                </div>
                <div class="col-md-8" data-anime="right">
                    <h3>Tatuador</h3>
                    <p>
                        A tatuagem, ato de colorir a pele com pigmentos, é uma ancestral atitude de mutação física praticada em todo o planeta. 
                        Antigamente ela não tinha como propósito embelezar o corpo, mas sim sinalizar um ritual de passagem, tais como o nascimento, 
                        a chegada da adolescência, o momento da reprodução e a morte. Ela também marcava momentos significativos de uma determinada 
                        tribo ou da vida social em geral – a transformação do jovem em guerreiro, sacerdote ou monarca; o matrimônio, o sinal impresso nos prisioneiros, entre outros.
                    </p>

                    <div class="row mt-3 mb-3"> <!-- Cargo e lista -->
                        <div class="col-md-6"> <!-- Lista da Esquerda -->
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Niver: <span class="fw-light"> xx de xx 19xx</span>
                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-light">xx anos</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-light">Uberaba</span>
                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fw-light">Minas Gerais</span>
                                </li>
                            </ul>
                        </div><!--  Fim Lista da Esquerda -->
                        <div class="col-md-6"><!-- Lista de Direita -->
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Hobby: <span class="fw-light">xxx</span>
                                </li>
                                <li class="list-group-item">
                                    Site: <a href="https://www.instagram.com/it.tattoo/" 
                                            target="_blank"
                                            class="fw-light text-decoration-none">
                                            it.tattoo
                                        </a>
                                </li>
                                <li class="list-group-item">
                                    Trabalho: <span class="fw-light">Tatuador.</span>
                                </li>
                                <li class="list-group-item">
                                    Experiência: <span class="fw-light">+5 anos</span>
                                </li>
                            </ul>
                        </div><!-- Fim Lista de Direita -->
                    </div><!--  Fim Cargo e lista -->

                    <p>
                        Em busca do meu crescimento pessoal acho muito importe os Hobby e com isso um dos meus e uma página de notícia sobre jogos, 
                        cinema, series, tecnologia e muito mais e tudo referente ao mundo nerd
                    </p>
                </div>
            </div>
        </section>
        <!-- -------------------------------------------------------- Fim do Sobre ------------------------------------------------------------ -->

        <!-- ------------------------------------------------------ Inicio Habilidade --------------------------------------------------------- -->
        <section id="habilidade" class="mt-5 section-bg">
            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>
                    Habilidades são características de um indivíduo hábil. Ou, em outras palavras, são aptidões. 
                    Quando alguém é capaz de realizar uma tarefa bem feita, dizemos que essa pessoa é habilidosa.
                    Esse adjetivo, por sua vez, remete a outras qualidades, como inteligência, agilidade e destreza. 
                </p>
                <p>Fonte: <a href="https://ead.pucpr.br/blog/habilidades-profissionais#:~:text=Habilidades%20s%C3%A3o%20caracter%C3%ADsticas%20de%20um,como%20intelig%C3%AAncia%2C%20agilidade%20e%20destreza.">PUCPR</a></p>
                <!------------------ Barras de Habilidades ------------------>
                <div class="row">
                    <!------------------ Barras de Ling ------------------>
                    <div class="col-md-6">
                        <!--  Inicio HTML -->
                        <p class="mt-3 mb-0">Pontilhismo</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-anime="left" aria-label="Example with label" style="width: 50%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                50%
                            </div>
                        </div>
                        <!--  Fim HTML -->
                        <!--  Inicio CSS -->
                        <p class="mt-3 mb-0">Old School</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-anime="left" aria-label="Example with label" style="width: 50%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                50%
                            </div>
                        </div>
                        <!--  Fim CSS -->
                        <!--  Fim JavaScrip -->
                        <p class="mt-3 mb-0">Geométrico</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-anime="left" aria-label="Example with label" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                                40%
                            </div>
                        </div>
                        <!--  Fim JavaScrip -->
                        <!--  Inicio Java -->
                        <p class="mt-3 mb-0">Minimalista</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-anime="left" aria-label="Example with label" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                                40%
                            </div>
                        </div>
                        <!--  Fim Java -->
                        <!--  Inicio Python -->
                        <p class="mt-3 mb-0">Blackwork</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-anime="left" aria-label="Example with label" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                50%
                            </div>
                        </div>
                        <!--  Fim Python -->
                        <!--  Inicio Git -->
                        <p class="mt-3 mb-0">Single Line</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-anime="left" aria-label="Example with label" style="width: 50%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                50%
                            </div>
                        </div>
                        <!--  Fim Git -->
                    </div>
                    <!------------------ Barras de Ling ------------------>

                    <!------------------ Barras de Tec ------------------>
                    <div class="col-md-6">
                        <!--  Inicio Boots -->
                        <p class="mt-3 mb-0">GLITCH</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-anime="left" aria-label="Example with label" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                50%
                            </div>
                        </div>
                        <!--  Fim Boots -->
                        <!--  Inicio Angular -->
                        <p class="mt-3 mb-0">Tinta Branca</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-anime="left" aria-label="Example with label" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                10%
                            </div>
                        </div>
                        <!--  Fim Angular -->
                        <!--  Inicio ReactJS -->
                        <p class="mt-3 mb-0">Tinta Preta</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-anime="left" aria-label="Example with label" style="width: 5%;" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">
                                5%
                            </div>
                        </div>
                        <!--  Fim ReactJS -->
                        <!--  Inicio NodeJs -->
                        <p class="mt-3 mb-0">Preto & Banco</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-anime="left" aria-label="Example with label" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                10%
                            </div>
                        </div>
                        <!--  Fim NodeJs -->
                        <!--  Inicio SQL -->
                        <p class="mt-3 mb-0">Sem Contorno</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-anime="left" aria-label="Example with label" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                10%
                            </div>
                        </div>
                        <!--  Fim SQL -->
                        <!--  Inicio MySQL -->
                        <p class="mt-3 mb-0">Aquarela</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-anime="left" aria-label="Example with label" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                10%
                            </div>
                        </div>
                        <!--  Fim MySQL -->
                    </div>
                    <!------------------ Barras de Tec ------------------>
                </div>
                <!---------------- Fim Barras de Habilidades ----------------->
                <hr class="w-50 me-auto ms-auto">
                <!---------------- Inicio Barras de SoftSkills ----------------->
                <div class="row">
                    <!---------------------------- Inicio Coluna Esquerda ------------------------------------->
                    <div class="col-md-6">
                        <!-- Inicio Comunicação -->
                        <p class="mt-3 mb-0">Oriental</p>
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" data-anime="left" aria-label="Example with label" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                90%
                            </div>
                        </div>
                        <!-- Fim Comunicação -->
                        <!--  Inicio Flexibilidade E Resiliência -->
                        <p class="mt-3 mb-0">Realista</p>
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" data-anime="left" aria-label="Example with label" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                90%
                            </div>
                        </div>
                        <!-- Fim Flexibilidade E Resiliência  -->
                        <!--  Inicio Proatividade -->
                        <p class="mt-3 mb-0">Maori</p>
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" data-anime="left" aria-label="Example with label" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                75%
                            </div>
                        </div>
                        <!--  Fim Proatividade -->
                        <!--  Incio Atitude Positiva -->
                        <p class="mt-3 mb-0">Atitude Positiva</p>
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" data-anime="left" aria-label="Example with label" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                90%
                            </div>
                        </div>
                        <!-- Fim Atitude Positiva  -->
                        <!-- Inicio Liderança  -->
                        <p class="mt-3 mb-0">Abstrata</p>
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" data-anime="left" aria-label="Example with label" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                90%
                            </div>
                        </div>
                        <!-- Fim Liderança  -->
                        <!-- Inicio Criatividade  -->
                        <p class="mt-3 mb-0">Ambigrama</p>
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" data-anime="left" aria-label="Example with label" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                90%
                            </div>
                        </div>
                        <!-- Fim Criatividade  -->
                    </div>
                    <!----------------------------- Fim Coluna Esquerda --------------------------------------->
                    <!----------------------------Inicio Coluna direita ------------------------------------->
                    <div class="col-md-6">
                            <!-- Inicio Desenvolvimento da equipe -->
                            <p class="mt-3 mb-0">Linhas</p>
                            <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" data-anime="left" aria-label="Example with label" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                    90%
                                </div>
                            </div>
                            <!-- Fim Desenvolvimento da equipe -->
                            <!--  Inicio Motivação -->
                            <p class="mt-3 mb-0">Colorir</p>
                            <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" data-anime="left" aria-label="Example with label" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                    80%
                                </div>
                            </div>
                            <!-- Fim Motivação  -->
                            <!--  Inicio Influência -->
                            <p class="mt-3 mb-0">Sobrear</p>
                            <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" data-anime="left" aria-label="Example with label" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                    65%
                                </div>
                            </div>
                            <!--  Fim Influência -->
                            <!--  Incio Capacidade de tomar decisões -->
                            <p class="mt-3 mb-0">Criatividade</p>
                            <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" data-anime="left" aria-label="Example with label" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                    90%
                                </div>
                            </div>
                            <!-- Fim Capacidade de tomar decisões  -->
                            <!-- Inicio Conhecimento político e cultural  -->
                            <p class="mt-3 mb-0">Limpeza e Higiene</p>
                            <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" data-anime="left" aria-label="Example with label" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                    60%
                                </div>
                            </div>
                            <!-- Fim Conhecimento político e cultural  -->
                            <!-- Inicio Coaching  -->
                            <p class="mt-3 mb-0">Desenho</p>
                            <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" data-anime="left" aria-label="Example with label" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    75%
                                </div>
                            </div>
                            <!-- Fim Coaching  -->
                    </div>
                    <!----------------------------Fim Coluna direita ------------------------------------->
                </div>
                <!------------------ Fim Barras de SoftSkills ------------------>
            </div>
        </section>
        <!-- -------------------------------------------------------- Fim Habilidade ---------------------------------------------------------- -->
        <!-- ------------------------------------------------------ Inicio Curriculo --------------------------------------------------------- -->
        <section id="curriculo" class="mt-5 cv" >
            <div class="container pb-5">
                <h2 class="pt-3 pb-4"data-anime="left">Currículo</h2>
                <div class="row">
                    <div class="col-md-6" >
                        <h3 class="cv-title" data-anime="left">Studios</h3>
                        <div class="cv-item" data-anime="up">
                            <h4>Electric Tattoo Studio</h4>
                            <h5>XxX</h5>
                            <p><em>Tatudador</em></p>
                            <p>
                                O XXX Studio iniciou suas atividades em XXXX, na cidade de XXXX-XX, através do tatuador e XXX FULANO, 
                                que desde o início trabalhou para profissionalizar e divulgar a arte da tatuagem na região.
                                Antes mesmo de completar 02 anos, o estúdio teve suas instalações ampliadas com a entrada do 
                                tatuador CICLANO. E agora, o estúdio conta com um reforço de peso no seu time, com a chegada do 
                                tatuador Kowalsky Guevara. Artistas de diferentes estilos, dispostos a expressar da melhor forma as 
                                ideias sugeridas pelos clientes e também a orientá-los na hora da escolha do desenho e do local.
                            </p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Estúdio @rodriguez.ink</h4>
                            <h5>XxX</h5>
                            <p><em>Tatudador</em></p>
                            <p>
                                O XXX Studio iniciou suas atividades em XXXX, na cidade de XXXX-XX, através do tatuador e XXX FULANO, 
                                que desde o início trabalhou para profissionalizar e divulgar a arte da tatuagem na região.
                                Antes mesmo de completar 02 anos, o estúdio teve suas instalações ampliadas com a entrada do 
                                tatuador CICLANO. E agora, o estúdio conta com um reforço de peso no seu time, com a chegada do 
                                tatuador Kowalsky Guevara. Artistas de diferentes estilos, dispostos a expressar da melhor forma as 
                                ideias sugeridas pelos clientes e também a orientá-los na hora da escolha do desenho e do local.
                            </p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Estúdio @rodriguez.ink</h4>
                            <h5>XxX</h5>
                            <p><em>Tatudador</em></p>
                            <p>
                                O XXX Studio iniciou suas atividades em XXXX, na cidade de XXXX-XX, através do tatuador e XXX FULANO, 
                                que desde o início trabalhou para profissionalizar e divulgar a arte da tatuagem na região.
                                Antes mesmo de completar 02 anos, o estúdio teve suas instalações ampliadas com a entrada do 
                                tatuador CICLANO. E agora, o estúdio conta com um reforço de peso no seu time, com a chegada do 
                                tatuador Kowalsky Guevara. Artistas de diferentes estilos, dispostos a expressar da melhor forma as 
                                ideias sugeridas pelos clientes e também a orientá-los na hora da escolha do desenho e do local.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="cv-title" data-anime="right">Profissional</h3>
                        <div class="cv-item" data-anime="up">
                            <h4>Electric Tattoo Studio</h4>
                            <h5>XxX</h5>
                            <p><em>Tatudador</em></p>
                            <p>
                                O XXX Studio iniciou suas atividades em XXXX, na cidade de XXXX-XX, através do tatuador e XXX FULANO, 
                                que desde o início trabalhou para profissionalizar e divulgar a arte da tatuagem na região.
                                Antes mesmo de completar 02 anos, o estúdio teve suas instalações ampliadas com a entrada do 
                                tatuador CICLANO. E agora, o estúdio conta com um reforço de peso no seu time, com a chegada do 
                                tatuador Kowalsky Guevara. Artistas de diferentes estilos, dispostos a expressar da melhor forma as 
                                ideias sugeridas pelos clientes e também a orientá-los na hora da escolha do desenho e do local.
                            </p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Estúdio @rodriguez.ink</h4>
                            <h5>XxX</h5>
                            <p><em>Tatudador</em></p>
                            <p>
                                O XXX Studio iniciou suas atividades em XXXX, na cidade de XXXX-XX, através do tatuador e XXX FULANO, 
                                que desde o início trabalhou para profissionalizar e divulgar a arte da tatuagem na região.
                                Antes mesmo de completar 02 anos, o estúdio teve suas instalações ampliadas com a entrada do 
                                tatuador CICLANO. E agora, o estúdio conta com um reforço de peso no seu time, com a chegada do 
                                tatuador Kowalsky Guevara. Artistas de diferentes estilos, dispostos a expressar da melhor forma as 
                                ideias sugeridas pelos clientes e também a orientá-los na hora da escolha do desenho e do local.
                            </p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Estúdio @rodriguez.ink</h4>
                            <h5>XxX</h5>
                            <p><em>Tatudador</em></p>
                            <p>
                                O XXX Studio iniciou suas atividades em XXXX, na cidade de XXXX-XX, através do tatuador e XXX FULANO, 
                                que desde o início trabalhou para profissionalizar e divulgar a arte da tatuagem na região.
                                Antes mesmo de completar 02 anos, o estúdio teve suas instalações ampliadas com a entrada do 
                                tatuador CICLANO. E agora, o estúdio conta com um reforço de peso no seu time, com a chegada do 
                                tatuador Kowalsky Guevara. Artistas de diferentes estilos, dispostos a expressar da melhor forma as 
                                ideias sugeridas pelos clientes e também a orientá-los na hora da escolha do desenho e do local.
                            </p>
                        </div>
                    </div>
            </div>
            </div>
        </section>
        <!-- -------------------------------------------------------- Fim Curriculo ---------------------------------------------------------- -->

        <!-- ------------------------------------------------------ Inicio Portifolio --------------------------------------------------------- -->
        <section id="portifolio" class="section-bg mt-5">
            <div class="container pb-5 pt-5" data-anime="up">
                <h2 class="pb-4">Portfólio</h2>
                <!--<div id="carouselPortifolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPortifolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPortifolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselPortifolio" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/blog.png" class="card-img-top" alt="Blog X-Nerd">
                                        <div class="card-body">
                                            <h5 class="card-title">x-nerd</h5>
                                            <p class="card-text">Projeto pessoal. Blog de noticias com tematica nerd.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwibxN_13ZT7AhVuppUCHahlAPUQFnoECBMQAQ&url=https%3A%2F%2Fxnerd.com.br%2F&usg=AOvVaw3AhpmZtsXMNFw32EU4f1tz" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/plataforma-gen.png" class="card-img-top" alt="Git">
                                        <div class="card-body">
                                            <h5 class="card-title">Git</h5>
                                            <p class="card-text">Repositorio Git</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwibxN_13ZT7AhVuppUCHahlAPUQFnoECBMQAQ&url=https%3A%2F%2Fxnerd.com.br%2F&usg=AOvVaw3AhpmZtsXMNFw32EU4f1tz" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/pokedex.png" class="card-img-top" alt="Blog X-Nerd">
                                        <div class="card-body">
                                            <h5 class="card-title">x-nerd</h5>
                                            <p class="card-text">Projeto pessoal. Blog de noticias com tematica nerd.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwibxN_13ZT7AhVuppUCHahlAPUQFnoECBMQAQ&url=https%3A%2F%2Fxnerd.com.br%2F&usg=AOvVaw3AhpmZtsXMNFw32EU4f1tz" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                                <div class="card">
                                    <img src="../static/img/blog.png" class="card-img-top" alt="Blog X-Nerd">
                                    <div class="card-body">
                                        <h5 class="card-title">x-nerd</h5>
                                        <p class="card-text">Projeto pessoal. Blog de noticias com tematica nerd.</p>
                                        <div class="d-flex justify-content-center">
                                            <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwibxN_13ZT7AhVuppUCHahlAPUQFnoECBMQAQ&url=https%3A%2F%2Fxnerd.com.br%2F&usg=AOvVaw3AhpmZtsXMNFw32EU4f1tz" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <img src="../static/img/plataforma-gen.png" class="card-img-top" alt="Git">
                                    <div class="card-body">
                                        <h5 class="card-title">Git</h5>
                                        <p class="card-text">Repositorio Git</p>
                                        <div class="d-flex justify-content-center">
                                            <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwibxN_13ZT7AhVuppUCHahlAPUQFnoECBMQAQ&url=https%3A%2F%2Fxnerd.com.br%2F&usg=AOvVaw3AhpmZtsXMNFw32EU4f1tz" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <img src="../static/img/pokedex.png" class="card-img-top" alt="Blog X-Nerd">
                                    <div class="card-body">
                                        <h5 class="card-title">x-nerd</h5>
                                        <p class="card-text">Projeto pessoal. Blog de noticias com tematica nerd.</p>
                                        <div class="d-flex justify-content-center">
                                            <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwibxN_13ZT7AhVuppUCHahlAPUQFnoECBMQAQ&url=https%3A%2F%2Fxnerd.com.br%2F&usg=AOvVaw3AhpmZtsXMNFw32EU4f1tz" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                    </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortifolio" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPortifolio" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>-->

                <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <!--<button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/projeto.png" class="card-img-top" alt="X-Nerd">
                                        <div class="card-body">
                                            <h5 class="card-title">Projeto 1</h5>
                                            <p class="card-text">Projeto disponível em pontilhismo, autoral. Arrasta pro lado pra ver a sugestão dos locais. Chama no WhatsApp</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://www.instagram.com/p/CkOI8WvMs4g/?utm_source=ig_web_copy_link" target="_blank" class="btn btn-outline-primary">
                                                    <i class="bi bi-link-45deg"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/gratidao.png" class="card-img-top" alt="Test1">
                                        <div class="card-body">
                                            <h5 class="card-title">Gratidão</h5>
                                            <p class="card-text">Gratidão é um sentimento de reconhecimento, uma emoção por saber que uma pessoa fez uma boa ação, um auxílio, em favor de outrat</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://www.instagram.com/p/Chqdnxysrsz/" target="_blank" class="btn btn-outline-dark me-3">
                                                    <i class="bi bi-github"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/hk.png" class="card-img-top" alt="Blog">
                                        <div class="card-body">
                                            <h5>Homenagem Pai para filho</h5>
                                            <p class="card-text">Homenagem de um grande homem para o filho muito irada que rolou hoje! Ficou muito lindo o desenho desta tattoo</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/patrickcohenn/Reconhecimento-Facial" target="_blank" class="btn btn-outline-dark"><i class="bi bi-github">
                                                </i></a>
                                                <a href="https://github.com/patrickcohenn/Reconhecimento-Facial" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="col">
                                    <div class="card">
                                        <img src="../" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/homem.png" class="card-img-top" alt="X-Nerd">
                                        <div class="card-body">
                                            <h5 class="card-title">flash day</h5>
                                            <p class="card-text">Feito em um dos clientes no nosso flash day! O responsavel pela art foi o Samuca @samuartt</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://www.instagram.com/p/Cg2eGTLPINP/" target="_blank" class="btn btn-outline-primary">
                                                    <i class="bi bi-link-45deg"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/olho.png" class="card-img-top" alt="Test1">
                                        <div class="card-body">
                                            <h5 class="card-title">Olha divino</h5>
                                            <p class="card-text">representa a visão onipresente do Deus do Sol, Hórus. É o sinal que os egípcios antigos usavam para saudá-lo</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://www.instagram.com/p/CecX_f-sBI6/" target="_blank" class="btn btn-outline-dark me-3">
                                                    <i class="bi bi-github"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/balanca.png" class="card-img-top" alt="Blog">
                                        <div class="card-body">
                                            <h5>Libra</h5>
                                            <p class="card-text">Libra ou Balança é o sétimo signo astrológico do zodíaco, situado entre Virgem e Escorpião e associado à constelação de Libra.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://www.instagram.com/p/CcGA6t4OF0l/" target="_blank" class="btn btn-outline-dark"><i class="bi bi-github">
                                                </i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="col">
                                    <div class="card">
                                        <img src="../" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                        <!--<div class="carousel-item">
                        </div>-->
                    </div>
                    <!--Bot.-->
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    <!--Bot.-->
                </div>
            </div>
        </section>
        <!-- -------------------------------------------------------- Fim Portifolio ---------------------------------------------------------- -->

        <!-- ------------------------------------------------------ Inicio Contato --------------------------------------------------------- -->
        <section id="contatos" class="pt-5 pb-5">
            <div class="container mb-5">
                <h2 class="pt-3 pb-3" data-anime="left">Contato</h2>
                <div class="row">
                    <!--Coluna Esquerda-->
                    <div class="col-md-5" data-anime="left">
                        <div class="card p-5 shadow border-0">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                                <p>XXX - XX</p>
                            </div>
                            <div class="email">
                                <h4><i class="bi bi-envelope"></i> Email:</h4>
                                <p>XXXX@gmail.com</p>
                            </div>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60080.683706354364!2d-47.984552362515764!3d-19.753339014625315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94bad03162627637%3A0x8e83d9edb0f8e15c!2sUberaba%2C%20MG!5e0!3m2!1spt-BR!2sbr!4v1667829454731!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>
                        </div>
                    </div>
                    <!--Coluna Esquerda-->

                    <!--Coluna Direita-->
                    <div class="col-md-7 mt-4 mt-md-0" data-anime="right">
                        <div class="car p-5 h-100 shadown border-0">
                            <form class="row g-3" action="/send" method="POST">
                                <div class="col-md-6">
                                    <label for="name" class="form-label">Nome:</label>
                                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email:</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu E-mail" required>
                                </div>
                                <div class="col-12">
                                    <label for="mensagem" class="form-label">Mensagem: </label>
                                    <textarea type="text" class="form-control" id="mensagem" name="mensagem" rows="10" placeholder="Digite sua mensagem" required></textarea>
                                </div>
                                <div class="col-12 d-flex justify-content-center mt-4">
                                    <button id="btn-enviar" type="submit" class="btn btn-primary">
                                        Enviar Mensagem
                                    </button>
                                    <button id="btn-enviar-loader" class="btn btn-primary" type="button" disabled>
                                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                        Loading...
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--Coluna Direita-->
                </div>
            </div>
        </section>
        <!-- -------------------------------------------------------- Fim Contato ---------------------------------------------------------- -->

        <!-- -------------------------------------------------------- Incio Alerta ---------------------------------------------------------- -->
        <section>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
                <div  id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="bi bi-check2-circle"></i>{{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </section>
        <!-- -------------------------------------------------------- Fim Aletar ---------------------------------------------------------- -->
    </main>
    <!--  ----------------------------------------------------------- Fim do Main ------------------------------------------------------------- -->

    <!--  ----------------------------------------------------------- Incio do Footer ------------------------------------------------------------- -->
    <footer id="footer">
        <div class="container">
            <div class="text-center">
                &copy; Copyright <strong>Patrick Cohenn</strong>
            </div>
        </div>
    </footer>
    <!--  ----------------------------------------------------------- Fim do Footer ------------------------------------------------------------- -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="../static/bootstrap/js/bootstrap.esm.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>